ul{
	list-style-type: none;
}


label {
    text-align: left;
    display: block;
}


#pulsante{
	margin-right: 20px;
	margin-bottom: 20px;
}

#x{
	margin-top:15px;
}

#pulsante,
#x {
    cursor: pointer;
    transition: transform 0.3s ease; 
	border-radius: 50px;
}

#pulsante:hover,
#x:hover {
    transform: rotate(360deg) scale(1.2);
	box-shadow: 0px 0px 3px 3px rgb(125, 6, 176);
}


.creaEvento{
	display: none !important;
	
}

.centra{
	position: absolute;
	top: 0px;
	align-self: center;
	z-index: 1000;
	text-align: center;
}

.sfoca{
	opacity: 0.25;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); 
  z-index: 999;
}